.profile__edit-button {
  background: transparent;
  border: 1px solid #ffffff;
  min-width: 18px;
  height: 18px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1280px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 18px;
  }
}
